@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.nav {
  padding: .5rem 1.4rem;
}

.nav .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.nav .wrapper ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav .wrapper ul li {
  padding: 0 0 0 1rem;
}

.nav .wrapper ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #3E497A;
  border: 2px solid #3E497A;
  outline: none;
  font-weight: bold;
  padding: .3rem 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.table {
  margin: 0 auto;
  max-width: 1280px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td a, .nav .wrapper li button {
  outline: none;
  font-weight: bold;
  padding: .5rem 1rem;
  cursor: pointer;
  background-color: #3E497A;
  color: #fff;
  border: none;
  border-radius: 6px;
}

td a {
  text-decoration: none;
  color: white;
  padding: .3rem 1rem;
}

.nav .wrapper li button {
  font-size: 1.1rem;
}

.modal {
  background: white;
  right: 0px;
  left: 0px;
  position: absolute;
  visibility: hidden;
}

.modal form {
  max-width: 360px;
  margin: 0 auto;
}

.active {
  visibility: visible;
}

.form__title {
  text-align: center;
  color: #21325E;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  outline: none;
  background-color: #eee;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin: 0.5rem 0;
}

.form__button {
  width: 100%;
  padding: 0.75rem;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #3E497A;
  color: #fff;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
